html,
body {
  height: 100%;
}

body {
  word-break: keep-all;
  background-color: black;
  background-image: url(~/assets/images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, black);
    z-index: -1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

#__nuxt,
#__layout {
  height: 100%;
}

.container {
  width: 800px;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
