html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  word-break: keep-all;
  background-color: black;
  background-image: url(~/assets/images/bg.webp);
  // background-size: cover;
  background-position: top;
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: linear-gradient(to bottom, transparent, transparent 50%, white);
  //   z-index: -1;
  // }
}

a {
  color: inherit;
  text-decoration: none;
}

#__nuxt,
#__layout {
  height: 100%;
}

.container {
  width: $container-width;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}
