html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  word-break: keep-all;
  background-color: black;

  &::before {
    content: "";
    position: fixed;
    top: -10vw;
    left: 0%;
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(~/assets/images/bg.jpg);
    background-size: cover;
    z-index: -1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

#__nuxt,
#__layout {
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: $container-width;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: white;
//   border-radius: 4px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// 드래그 선택 부분 색상
::selection {
  background-color: skyblue !important;
  color: white;
}
