html,
body {
  height: 100%;
}

body {
  word-break: keep-all;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: white;
//   border-radius: 4px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// 드래그 선택 부분 색상
// ::selection {
//   background-color: skyblue !important;
//   color: white;
// }
