html,
body {
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  word-break: keep-all;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

input {
  padding: 0;
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: white;
//   border-radius: 4px;
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// 드래그 선택 부분 색상
// ::selection {
//   background-color: skyblue !important;
//   color: white;
// }

:focus-visible {
  outline: none;
}

.app-leave-active,
.app-enter-active {
  transition: all 0.2s;
  .mac-window {
    transition: all 0.2s linear;
  }
}

.app-enter,
.app-leave-to {
  .mac-window {
    top: 50% !important;
    left: $dock-width !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    transform: translateY(-50%);
  }
}

@media (max-width: $desktop-width) {
  .app-enter-active,
  .app-leave-active {
    transition: all 0.1s;
    .mac-window {
      transition: all 0.1s linear;
    }
  }

  .app-enter,
  .app-leave-to {
    .mac-window {
      top: 50% !important;
      left: 50% !important;
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
    }
  }
}
