@mixin textClip($line: 2, $lineHeight: 1.3em) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: $lineHeight;
  max-height: calc(#{$line} * #{$lineHeight});
  -webkit-line-clamp: $line; /* 표시하고자 하는 라인 수 */
  -webkit-box-orient: vertical;
}

@mixin macWindowTheme() {
  border: 1px solid #666;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0px black;
  border-radius: 8px;
  background-color: #152038c0;
}
