$header-height: 3rem;
$header-item-gap: 1.7rem;
$header-bg-color: #17263d;

$dock-width: 35px;
$dock-bg-color: #17263d88;

$post-width: 1080px;
$post-height: 650px;

$post-head-height: 50px;

:export {
  dockWidth: $dock-width;
}
