$key-color1: #222;
$key-color2: #595d5f;
$key-color3: #919191;
$key-color4: #4688eb;
$key-color5: #fda380;

$container-width: 900px;
$toc-width: 330px;
$dock-width: 35px;

:export {
  dockWidth: $dock-width;
}
