$header-height: 25px;
$header-bg-color: #17263d;
$header-mobile-height: 35px;

$dock-width: 35px;
$dock-bg-color: #17263d88;

$post-width: 1000px;
$post-height: 650px;

$window-head-height: 50px;

$desktop-width: $post-width;

:export {
  headerHeight: $header-height;
  dockWidth: $dock-width;
  desktopWidth: $desktop-width;
}
