@import 'base/reset.scss';
@import 'base/font.scss';
@import 'base/base.scss';

// Component

// layout
@import 'layout/header.scss';
@import 'layout/footer.scss';

// page
@import 'page/category';
@import 'page/post';
@import 'page/main';

@import '../css/darcula.min.css';
