.post-list-wrapper {
  .header {
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .content {
    @include container-box;
    padding: 2rem;
    margin-top: 2rem;

    .main-title {
      font-size: 3.5rem;
      font-weight: bold;
      border-bottom: 1px solid #444;
      padding-bottom: 1rem;
      margin-top: 1rem;
      margin-bottom: 3rem;
      color: $key-color;
      text-shadow: 3px 3px 4px black;
    }

    .post-item {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      line-height: 1.4;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      transition: all 0.4s;
      &:hover {
        transform: translate(-3px, -3px);
        box-shadow: 3px 3px 2px #111;
      }

      &__img {
        margin-right: 2rem;
        img {
          width: 12rem;
          height: 12rem;
          border-radius: 8px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;

        .category {
          font-size: 1.5rem;
          color: $sub-color;
          margin-right: 1rem;

          &:hover {
            font-weight: bold;
          }
        }

        .main-info {
          .title {
            font-size: 2rem;
            font-weight: bold;
            color: white;
            @include textClip(2);
          }

          .desc {
            font-size: 1.4rem;
            color: #ccc;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            @include textClip(2, 1.4em);
          }
        }

        .sub-info {
          display: flex;
          align-items: center;
          margin-top: auto;
          font-size: 1.4rem;
          color: #9f9f9f;

          .tags {
            display: flex;
            &__item {
              border-radius: 6px;
              margin-right: 0.5rem;
              color: rgb(164, 154, 211);
              padding: 0.1em 0.4em;
              background-color: #333;
              &:hover {
                font-weight: bold;
              }
            }
          }

          .date {
            display: flex;
            align-items: center;
            margin-left: auto;

            .calendar-ico {
              height: 1.3rem;
              margin-right: 0.4rem;
              filter: invert(1) brightness(0.7);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .post-list-wrapper {
    .content {
      .post-item {
        &__info {
          .sub-info {
            .tags {
              display: none;
            }
            .date {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
