.post-list-wrapper {
  .header {
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .content {
    @include container-box;
    padding: 2rem;

    .title {
      font-size: 5rem;
      font-weight: bold;
      border-bottom: 1px solid #444;
      padding-bottom: 3rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: $sub-color;
      text-shadow: 3px 3px 4px black;
    }

    .post-item {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      line-height: 1.4;

      &__title {
        font-size: 2rem;
        color: white;

        &:hover {
          color: $sub-color;
        }
      }

      &__tag {
        display: flex;
        margin-left: auto;
        .tag-item {
          font-size: 1.5rem;
          margin-right: 0.7rem;
          color: #ddd;
          background-color: $key-color;
          border-radius: 4px;
          padding: 0.1em 0.5em;
          line-height: normal;
          white-space: nowrap;
        }
      }

      &__date {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: #9f9f9f;
        line-height: normal;
        margin-left: 0.5rem;

        .calendar-ico {
          height: 1.3rem;
          margin-right: 0.4rem;
          filter: invert(1) brightness(0.7);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .post-list-wrapper {
    .content {
      .post-item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3rem;
        &__tag {
          margin-left: 0;

          .tag-item {
            font-size: 1.5rem;
            background-color: transparent;
            color: $key-color;
            padding: 0;
          }
        }
      }
    }
  }
}
