.post-wrapper {
  color: white;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 6rem auto;

    .category {
      background-color: #4f7bdf;
      color: #fff;
      border-radius: 4px;
      padding: 0.3em 1em;
      font-size: 1.5rem;
      margin-top: 2rem;
      font-weight: bold;
    }

    .title {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: bold;
      margin: 2.5rem 2rem 2rem;
      text-shadow: 2px 2px 2px black;
      text-align: center;
    }

    .date {
      margin: auto;
      font-size: 1.4rem;
      font-weight: bold;
      margin-left: auto;
      color: #777;

      &-ico {
        height: 1rem;
        filter: invert(1) brightness(0.5);
        margin-right: 0.5rem;
      }

      .created-date {
        margin-bottom: 0.5rem;
      }
    }
  }

  .post {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 7px;
    padding: 2rem;
    font-size: 1.8rem;
    word-break: break-all;
    color: #ddd;

    .ad-wrapper {
      height: 90px;
    }

    .content {
      .tags {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        &__ico {
          height: 1.2rem;
          margin-right: 1rem;
        }

        &__list {
          display: flex;
        }

        &__item {
          background-color: #444;
          color: bisque;
          font-size: 1.4rem;
          margin-right: 0.5em;
          padding: 0.2em 0.5em;
          font-weight: bold;
          border-radius: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .cover-img {
        margin: 2rem 0rem;
        text-align: center;
        img {
          max-height: 300px;
          max-width: 100%;
          object-fit: contain;
          border-radius: 8px;
        }
      }

      .nuxt-content {
        p {
          margin-bottom: 1rem;
          line-height: 2;

          & > code {
            background-color: #2e2e2e;
            padding: 0.1em 0.3em;
            box-sizing: content-box;
            border-radius: 4px;
            color: #93ffaa;
            margin-right: 0.2em;
            border-right: 1px solid;
            border-bottom: 1px solid;
          }
        }

        ol,
        ul {
          padding-left: 3rem;
          list-style: revert;
          li {
            line-height: 1.5;
          }
        }

        img {
          width: 80%;
          border-radius: 4px;
          margin: 3rem auto;
          display: flex;
        }

        hr {
          width: 30%;
          margin: 5rem auto;
          border-color: #444;
        }

        h2 {
          font-size: 1.6em;
          font-weight: bold;
          margin-top: 7rem;
          padding-bottom: 1.5rem;
          margin-bottom: 2rem;
          border-bottom: 1px solid #4b4b4b;
        }

        h3 {
          font-size: 1.2em;
          font-weight: 700;
          margin-top: 5rem;
          margin-bottom: 2rem;
          border-left: 4px solid $key-color;
          color: #ddd;
          padding-left: 1.5rem;
          line-height: 1.4;
        }

        a {
          color: $key-color;
          &:hover {
            text-shadow: 1px 1px 1px blue;
            text-decoration: underline;
            font-weight: bold;
          }
        }

        strong {
          color: $sub-color;
        }

        .nuxt-content-highlight {
          position: relative;

          .filename {
            background-color: #282a36;
            padding: 0.5em 1em;
            font-weight: bold;
            border-radius: 4px 4px 0 0;
            border-bottom: 2px solid #545a74;
            display: block;
            width: fit-content;
          }

          pre[class*="language-"] {
            margin-top: 0;
            border-radius: 0 repeat(3, 4px);
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
