.post-wrapper {
  .post-window {
    display: flex;
    color: white;
    width: 100%;
    height: calc(100% + #{$window-head-height});
    margin-top: -$window-head-height;
  }

  .mac-window__header {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 8px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-left: 0.2px solid #565656;
    border-right: 0.2px solid #565656;
  }
}
