.post-list-wrapper {
  margin-top: 2rem;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;

  .main-title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    height: 50px;

    &__img {
      margin-right: 1.5rem;
    }

    &__text {
      font-size: 3.5rem;
      font-weight: bold;
      color: $key-color1;
    }
  }

  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 2rem;
    .post-item {
      display: flex;
      padding: 1rem;
      font-size: 1.1rem;
      line-height: normal;

      &__img {
        flex: 0 0 15rem;
        height: 100%;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          object-fit: contain;
          border-radius: 6px;
          box-shadow: 2px 2px 5px gray;
        }
      }

      &__text {
        width: 100%;
      }

      &__category {
        color: $key-color5;
        font-size: 1.3em;
        font-weight: bold;

        &:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      &__title {
        color: $key-color1;
        margin-top: 0.8rem;
        font-weight: bold;
        font-size: 1.6em;
      }

      &__desc {
        color: gray;
        margin-top: 0.8rem;
        font-size: 1.2em;

        @include textClip(3);
      }

      &__date {
        margin-top: 0.5rem;
        color: gray;
        display: flex;
        align-items: center;
      }

      .tags {
        margin-top: 0.7rem;
        font-size: 1.1em;
      }
    }
  }
}

@media (max-width: 700px) {
  .post-list-wrapper {
    .post-list {
      grid-template-columns: 1fr;
    }
  }
}
