.post-wrapper {
  .post-window {
    display: flex;
    color: white;
    width: 100%;
    height: calc(100% + #{$window-head-height});
    margin-top: -$window-head-height;
  }

  .mac-window__header {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 8px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-left: 0.2px solid #565656;
    border-right: 0.2px solid #565656;
  }
}

@media (max-width: $desktop-width) {
  .post-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .post-window {
      margin-top: 0;
    }

    .window-btns {
      display: none;
    }

    .post-cate,
    .post-list,
    .post-content {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #181818;
      transition: none;
    }

    .post-cate__head {
      display: none;
    }

    &.category {
      .post-cate {
        display: flex;
      }
    }

    &.list {
      .post-list {
        display: flex;
      }
    }

    &.content {
      .post-content {
        display: flex;
      }
    }

    ::-webkit-scrollbar {
      width: initial;
      height: initial;
    }

    ::-webkit-scrollbar-thumb {
      border: initial;
      background-color: initial;
      border-radius: initial;
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-track {
      background-color: initial;
      border-left: initial;
      border-right: initial;
    }
  }
}
