.post-wrapper {
  color: white;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 6rem auto;

    .category {
      background-color: #4f7bdf;
      color: #fff;
      border-radius: 4px;
      padding: 0.3em 1em;
      font-size: 1.5rem;
      margin-top: 2rem;
      font-weight: bold;
    }

    .title {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: bold;
      margin: 2.5rem 2rem 2rem;
      text-shadow: 2px 2px 2px black;
    }

    .date {
      margin: auto;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: right;
      margin-left: auto;
      color: #777;

      &-ico {
        height: 1rem;
        filter: invert(1) brightness(0.5);
        margin-right: 0.5rem;
      }

      .created-date {
        margin-bottom: 0.5rem;
      }
    }
  }

  .post {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 7px;
    padding: 2rem;
    font-size: 1.8rem;
    word-break: break-all;
    color: #ddd;

    .tag {
      display: flex;
      align-items: center;
      &__ico {
        height: 1.2rem;
        margin-right: 1rem;
      }

      &__list {
        display: flex;
      }

      &__item {
        background-color: #444;
        color: bisque;
        font-size: 1.4rem;
        margin-right: 0.5em;
        padding: 0.2em 0.5em;
        font-weight: bold;
        border-radius: 6px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .cover-img {
      padding: 2rem 5rem;
      img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .nuxt-content {
      p {
        margin-bottom: 1rem;
        line-height: 1.5em;
      }

      ol,
      ul {
        padding-left: 2rem;
        list-style: revert;
        li {
          line-height: 1.5em;
        }
      }

      img {
        width: 80%;
        border-radius: 4px;
        margin: 3rem auto;
        display: flex;
      }

      hr {
        width: 30%;
        margin: 5rem auto;
        border-color: #444;
      }

      h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 3em;
        font-weight: bold;
      }
    }
  }
}
