.post-wrapper {
  color: white;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 6rem auto;

    .category {
      background-color: $key-color;
      color: #fff;
      border-radius: 4px;
      padding: 0.5em 1em;
      font-size: 1.5rem;
      margin-top: 2rem;
      font-weight: bold;
    }

    .title {
      font-size: 3rem;
      line-height: 1.2;
      font-weight: bold;
      margin-top: 2.5rem;
      margin-left: 13rem;
      margin-right: 13rem;
      text-shadow: 2px 2px 2px black;
      text-align: center;
    }

    .date {
      display: flex;
      flex-direction: column;
      margin: auto;
      font-size: 1.4rem;
      font-weight: bold;
      margin-left: auto;
      color: #777;

      &-ico {
        height: 1rem;
        filter: invert(1) brightness(0.5);
        margin-right: 0.5rem;
      }

      .created-date {
        margin-bottom: 0.5rem;
      }
    }
    .tags {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .post {
    @include container-box;
    padding: 3rem;
    box-sizing: border-box;
    word-break: break-all;
    font-size: 1.8rem;
    position: relative;

    .toc-wrapper {
      position: absolute;
      top: 0;
      right: -$toc-width;
    }

    .content {
      .cover-img {
        margin: 2rem auto;
        max-width: 80%;
        text-align: center;
        img {
          max-height: 600px;
          max-width: 100%;
          object-fit: contain;
          border-radius: 8px;
        }
      }

      .nuxt-content {
        color: #ccc;
        p {
          margin-bottom: 1rem;
          line-height: 1.7;
        }

        > ul,
        ol {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }

        ol,
        ul {
          padding-left: 3rem;
          list-style: revert;
          li {
            line-height: 2;
          }
        }

        img {
          max-width: 80%;
          max-height: 500px;
          object-fit: contain;
          border-radius: 8px;
          margin: 3rem auto;
          display: flex;
        }

        hr {
          width: 30%;
          margin: 5rem auto;
          border-color: #444;
        }

        h2 {
          font-size: 1.6em;
          font-weight: bold;
          margin-top: 6rem;
          padding-bottom: 2rem;
          margin-bottom: 2rem;
          border-bottom: 4px solid #333;
          color: #eee;
        }

        h3 {
          font-size: 1.2em;
          font-weight: 700;
          margin-top: 6rem;
          margin-bottom: 2rem;
          border-left: 7px solid $key-color;
          color: #ddd;
          padding-left: 1.5rem;
          line-height: 1.4;
        }

        a {
          color: $key-color;
          border-bottom: 1px solid;
        }

        strong {
          color: #94c78b;
        }

        p > code,
        li > code {
          background-color: #171717;
          padding: 0.1em 0.3em;
          box-sizing: content-box;
          border-radius: 4px;
          color: #76bea7;
          margin-right: 0.2em;
        }

        blockquote {
          background-color: #333;
          margin: 5rem 0;
          padding: 2rem 3rem;
          border-left: 6px solid $key-color;
          border-radius: 8px;
          display: flex;

          &::before {
            content: "";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='%23ddd' class='alert-icon mt-px w-6 h-6'%3E%3Cpath d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            width: 3rem;
            height: 3rem;
            flex: 0 0 auto;
            position: relative;
            margin-right: 1rem;
            margin-top: 0.2rem;
          }

          p {
            margin: 0;
          }
        }

        .nuxt-content-highlight {
          position: relative;
          margin: 2rem 0;

          .filename {
            color: #768ad9;
            background-color: #282a36;
            padding: 0.5em 1em;
            font-weight: bold;
            border-radius: 4px 4px 0 0;
            border-bottom: 2px solid #4b5a9b;
            display: block;
            width: fit-content;
          }

          pre[class*="language-"] {
            margin-top: 0;
            border-radius: 0 repeat(3, 4px);
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: $container-width) {
  .post-wrapper {
    .header {
      .title {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
    .post {
      padding: 1rem;
    }
  }
}

@media (max-width: calc(#{$container-width} + #{$toc-width} * 2)) {
  .post-wrapper {
    .post {
      .toc-wrapper {
        display: none;
      }
    }
  }
}
