.twitter-wrapper {
  .twitter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    background-color: #1e1e1e;

    .user {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;

      &__profile {
        margin: 5rem auto 2rem auto;
        margin-bottom: 2rem;
        width: 7rem;
        height: 7rem;
        padding: 0.5rem;
        background-color: rgb(153, 186, 251);
        border-radius: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          position: relative;
          z-index: 1;
        }
      }

      &__name {
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 0px 0px 3px #ffffff99;
        text-align: center;
      }

      &__uname {
        color: rgb(153, 186, 251);
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: center;

        &::before {
          content: "#";
        }
      }

      &__desc {
        font-size: 1.2rem;
        margin-top: 0.8rem;
        text-align: center;
        line-height: 1.5;
        color: rgb(189, 189, 189);
      }

      &__follow {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }

      &__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        margin-top: 1rem;

        .info {
          text-align: center;
          flex: 1;
          position: relative;

          &::after {
            content: "";
            width: 1px;
            height: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: #3c3c3c;
          }
          &:last-child::after {
            content: none;
          }

          p:first-of-type {
            font-size: 1.4rem;
            font-weight: bold;
          }
          p:nth-child(2) {
            margin-top: 0.5rem;
            font-size: 1rem;
            color: gray;
          }
        }
      }
    }

    .timeline {
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      .tweet {
        position: relative;
        padding: 1.5rem;
        border-radius: 5px;

        &__text {
          font-size: 1.3rem;
          line-height: 1.5;
        }

        &__meta {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;

          .meta-item {
            display: flex;
            align-items: center;
            height: 1.5rem;
            margin-right: 2rem;
            color: gray;
            &:last-child {
              margin-left: auto;
              margin-right: 0;
            }
          }

          img {
            height: 100%;
            margin-right: 0.5rem;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%);
          width: 100%;
          height: 1px;
          background-color: rgb(56 56 56);
        }

        &:hover {
          background-color: rgb(56 56 56);
          &::after,
          & + ::after {
            content: none;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 8px;
    background-clip: padding-box;
    // border: 3px solid transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: #292f33;
    border-left: 0.2px solid #565656;
    border-right: 0.2px solid #565656;
  }
}

@media (max-width: $desktop-width) {
  .twitter-wrapper {
    ::-webkit-scrollbar {
      width: initial;
      height: initial;
      z-index: 100000;
      position: relative;
    }

    ::-webkit-scrollbar-thumb {
      background-color: initial;
      border-radius: initial;
    }

    ::-webkit-scrollbar-track {
      background-color: initial;
      border-left: initial;
      border-right: initial;
    }
  }
}
