.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(~/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;

  user-select: none;
}
