.site-footer {
  margin-top: 2rem;

  &__ad {
    margin-bottom: 2rem;
  }

  &__info {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 7px;

    .copyright {
      color: #666;
      font-size: 1.4rem;

      strong {
        color: $key-color5;
      }

      a {
        color: #777;
        text-decoration: underline;
      }
    }

    .sns {
      margin-left: auto;
    }
  }
}

@media (max-width: 800px) {
  .site-footer {
    &__info {
      flex-direction: column;
      align-items: flex-start;

      .copyright {
        order: 2;
      }

      .sns {
        order: 1;
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
