.site-footer {
  margin-top: 2rem;

  &__ad {
    height: 90px;
    margin-bottom: 2rem;
  }

  &__info {
    @include container-box;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;

    &__copyright {
      color: #666;
      font-size: 1.4rem;
    }

    &__sns {
      margin-left: auto;
    }
  }
}

@media (max-width: 800px) {
  .site-footer {
    &__info {
      flex-direction: column;
      align-items: flex-start;

      &__copyright {
        order: 2;
      }

      &__sns {
        order: 1;
        margin-left: 0;
        margin-bottom: 1rem;
      }
    }
  }
}
