.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $header-bg-color;
  backdrop-filter: blur(6px);
  height: $header-height;
  font-size: 1.2rem;
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  z-index: 100000;

  > * {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1.2rem;
    border-radius: 4px;
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    &:active {
      background-color: rgba(255, 255, 255, 0.15);
    }
    img {
      height: 60%;
    }
  }
  .main-logo {
    height: 50%;
    filter: invert(1);
  }

  .main-title {
    font-weight: bold;
    white-space: nowrap;
    margin-right: auto;
    margin-left: 2rem;
  }

  .datetime {
    font-weight: bold;
    margin-left: 1rem;
  }
}

@media (max-width: $desktop-width) {
  .site-header {
    font-size: 1.5rem;
    height: $header-mobile-height;
    background-color: transparent;
  }
}
