.site-header {
  text-align: center;
  &__logo {
    text-align: center;
    height: 4rem;
    display: block;

    img {
      height: 100%;
      box-shadow: 0px 0px 10px white;
      border-radius: 4px;
    }
  }
  &__ad {
    margin-bottom: 2rem;
  }
}
