.site-header {
  width: 100%;
  display: flex;
  background-color: $header-bg-color;
  backdrop-filter: blur(6px);
  height: $header-height;
  font-size: 1.2rem;
  color: white;
  padding: 0 1rem;
  box-sizing: border-box;

  &__group {
    height: 100%;
    display: flex;
    align-items: center;
    gap: $header-item-gap;

    .main-logo {
      height: 50%;
      filter: invert(1);
    }

    .main-title {
      font-weight: bold;
    }

    .sns {
      height: 60%;
      gap: $header-item-gap;
    }

    .site-search {
      height: 50%;
    }

    &.right {
      margin-left: auto;
    }
  }
}
