.post-cate {
  flex: 1 1 200px;
  background-color: #27282bf0;
  backdrop-filter: blur(10px);

  &__head {
    height: $post-head-height;
  }

  &__content {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__title {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 0.5rem;
  }

  &__list {
  }

  &__item {
    margin-bottom: 0.5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    .link {
      display: flex;
      align-items: center;
      border-radius: 6px;
      font-size: 1.2rem;
      padding: 0.5em 0.7em;
      cursor: default;

      &.active {
        background-color: rgb(94, 94, 94);
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &__img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
      }

      &__category {
        margin-left: 0.8rem;
      }

      &__length {
        margin-left: auto;
        color: #b0b0b0;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .post-cate {
    padding: 1.5rem;
    box-sizing: border-box;
    &__title {
      margin-bottom: 2rem;
      font-size: 3rem;
      color: white;
      font-weight: bold;
    }

    &__list {
      border-radius: 7px;
      background-color: rgb(24, 24, 24);
    }

    &__item {
      position: relative;

      &:last-of-type {
        &::after {
          content: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5rem;
        width: calc(100% - 5rem);
        height: 1px;
        background-color: rgb(68, 68, 68);
      }

      &:last-child {
        border-bottom: 0;
      }
      .link {
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding: 0.5em 0.7em;
        cursor: default;
        background-color: transparent;
        border-radius: 0;
        font-size: 1.7rem;

        &__img {
          width: 2.5rem;
          height: 2.5rem;
        }

        &__category {
          margin-left: 1.5rem;
          font-weight: bold;
        }

        &.active {
          background-color: transparent;
        }
      }
    }
  }
}
