.post-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #1f2226;
  border-left: 1px solid black;
  border-right: 1px solid black;

  &__head {
    flex: 0 0 50px;
    background-color: #3b3c40;
  }

  &__wrap {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 2.5rem;
    position: relative;
    border-radius: 8px;
    &:hover {
      background-color: #5c9dbe;
      &::after {
        content: none;
      }
      & + ::after {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 1rem;
      top: 0;
      width: 80%;
      height: 1px;
      background-color: #464646;
    }

    &:first-child::after {
      content: none;
    }
  }

  &__texts {
    flex: 1;
    margin-right: 1rem;
  }

  &__img {
    flex: 0 0 9rem;
    img {
      width: 100%;
      border-radius: 6px;
    }
  }
}
