.post-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 350px;
  background-color: #1f2226;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: -$window-head-height;

  &__head {
    flex: 0 0 $window-head-height;
    background-color: #3b3c40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .subject-text {
      display: none;
    }
    .subject {
      display: flex;
      align-items: center;
      height: 2rem;

      &__arrow {
        display: none;
      }

      &__img {
        height: 100%;
      }
      &__text {
        margin-left: 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #ddd;
      }
    }

    .site-search {
      margin-left: auto;
    }
  }

  &__wrap {
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 2.5rem;
    position: relative;
    border-radius: 8px;
    cursor: default;

    &.nuxt-link-active {
      background-color: #5689d3;
      &::after {
        content: none;
      }
      & + ::after {
        content: none;
      }
      .text {
        &__category {
          color: #20207c;
        }
        &__title {
          color: white;
        }

        &__desc,
        &__date {
          color: #bfbfbf;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 1rem;
      top: 0;
      width: 80%;
      height: 1px;
      background-color: #464646;
    }

    &:first-child::after {
      content: none;
    }

    .text {
      flex: 1;
      margin-right: 1rem;

      &__category {
        color: rgb(120, 120, 231);
        margin-bottom: 0.3rem;
      }

      &__title {
        font-size: 1.4rem;
        line-height: 1.3;
        @include textClip(2);
      }

      &__date {
        margin-top: 0.6rem;
        font-size: 1.1rem;
        color: gray;
      }

      &__desc {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        color: gray;
        @include textClip(2);
      }
    }

    .img {
      flex: 0 0 9rem;
      img {
        width: 100%;
        border-radius: 6px;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .post-list {
    &__box {
      padding: 1.5rem 0;
      &.nuxt-link-active,
      .active {
        background-color: transparent;

        & + ::after {
          content: "";
        }
        .text {
          &__category {
            color: #7878e7;
          }
          &__title {
            color: white;
          }

          &__desc,
          &__date {
            color: gray;
          }
        }
      }
      &::after {
        left: 0;
        width: 100%;
      }

      .text {
        &__category {
          font-size: 1.5rem;
          font-weight: bold;
        }

        &__title {
          font-size: 2rem;
        }

        &__date {
          font-size: 1.3rem;
        }

        &__desc {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .post-list {
    &__head {
      background-color: transparent;
      padding: 0 1rem;

      .subject {
        display: none;
      }
      .subject-text {
        display: inline-flex;
        height: 2rem;
        align-items: center;
        font-size: 2rem;

        &__arrow {
          display: inline-block;
          height: 90%;
          margin-right: 0.5rem;
          margin-left: -1rem;
          filter: invert(1);
        }

        &__text {
          color: #ddd;
          font-weight: bold;
        }
      }
    }
  }
}
