.tags {
  display: flex;
  align-items: center;
  opacity: 0.8;

  &__ico {
    height: 1.2rem;
    margin-right: 0.5rem;
  }

  &__list {
    display: flex;
  }

  &__item {
    background-color: #333;
    color: #a49ad3;
    font-size: 1.4rem;
    padding: 0.2em 0.5em;
    margin-right: 0.5rem;
    font-weight: bold;
    border-radius: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}
