.site-dock {
  position: fixed;
  left: 0;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 100;

  .dock {
    width: $dock-width;
    background-color: #222222b3;
    border: 1px solid #3333338e;
    display: flex;
    flex-direction: column;
    margin-left: calc(#{$dock-width} / 4);
    border-radius: 8px;
    padding: 1rem 0.5rem;
    backdrop-filter: blur;

    &__item {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;
      transition: width 0.2s;

      &.active {
        width: 180%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .link {
        display: flex;
        align-items: center;
        cursor: default;
        .ico {
          object-fit: contain;
          width: 100%;
        }
        .info {
          display: none;
          margin-left: 1.8rem;
          color: white;
          font-size: 1.7rem;
          background-color: #353535;
          padding: 0.4em 0.7em;
          border-radius: 5px;
          position: relative;

          &.active {
            display: block;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
            border-left: 5px solid transparent;
            border-right: 7px solid #353535;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
          }
        }
      }
    }
  }
}

@media (max-width: calc(#{$post-width} + #{$dock-width} * 3)) {
  .site-dock {
    display: none;
  }
}
