.music-player {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 10;

  .window {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #696969;
    box-shadow: 1px 1px 3px #3b3c40;

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: blur(2px) brightness(0.4);
    }

    &__info {
      .img {
        width: 18rem;
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.playing {
          img {
            animation: rotate 10s infinite linear;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 3px solid #bbbbbb;
        }
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20%;
          height: 20%;
          background-color: white;
          border-radius: 50%;

          z-index: 1;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10%;
          height: 10%;
          background-color: rgb(184, 184, 184);
          border-radius: 50%;
          z-index: 2;
        }
      }
      .title {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #ffffff;
        text-shadow: 0px 0px 3px #ffffff99;
      }
      .artist {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: #777;
        text-shadow: 0px 0px 3px #1e1e1e;
      }
    }

    &__progress {
      position: relative;
      width: 100%;
      height: 2px;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      background-color: rgb(101, 101, 101);
      border-radius: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        transform: translateY(-50%);
      }

      .curr-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: white;
        border-radius: 10px;
      }

      .curr-dot {
        position: absolute;
        top: 1px;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
      }
    }

    &__btns {
      display: flex;
      height: 3rem;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      .btn {
        filter: brightness(0.7);
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.play {
          margin-left: 2rem;
          margin-right: 2rem;
          .pause-img {
            width: 3rem;
            height: 3rem;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        &:active {
          filter: none;
        }
      }
    }

    &__time {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      margin-top: 0.2rem;

      .curr-time {
        color: #ccc;
      }

      .total-time {
        color: #999;
      }
    }

    &__sound {
      width: 80%;
      margin: 1.5rem auto 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;

      .sound-ico {
        filter: brightness(0.7);
        height: 1rem;
      }

      .sound-bar {
        position: relative;
        flex: 1;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 3px;
        border-radius: 10px;
        background-color: #666;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 6px;
          transform: translateY(-50%);
        }

        .curr-bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: white;
          border-radius: 10px;
        }

        .curr-dot {
          position: absolute;
          top: 1px;
          transform: translate(-50%, -50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: white;
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .music-player {
    display: none;
  }
}
