.site-nav {
  width: 100%;
  @include container-box();

  .nav {
    padding: 1.2rem 2.8rem;
    display: flex;
    font-size: 1.7rem;

    &__item {
      margin-right: 1.5rem;
      color: #ddd;
      transition: all 0.4s;

      &:hover {
        color: $key-color;
        transform: translateY(-2px);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
