.site-nav {
  width: 100%;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 6px;

  font-family: "GangwonEdu", "EliceDigitalBaeum_Bold", "Noto Sans KR",
    sans-serif;

  .nav {
    padding: 1.2rem 2.8rem;
    display: flex;
    font-size: 1.7rem;

    &__item {
      margin-right: 1.5rem;
      color: #ddd;

      &:hover {
        color: $key-color;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
