.toc-wrapper {
  width: $toc-width;
  height: 100%;

  .toc {
    position: sticky;
    top: 2rem;
    left: 0;
    padding: 2rem;

    &__title {
      font-size: 2.5rem;
      font-weight: bold;
      border-bottom: 2px solid #333;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      text-align: center;
    }

    &__list {
      margin-left: 3rem;
      li {
        font-size: 1.5rem;
        width: 100%;
        box-sizing: border-box;
        line-height: 1.5;

        a {
          color: #bbb;

          &:hover {
            color: $key-color;
          }
        }

        &.h2 {
          list-style: decimal;
          padding-top: 1.5rem;
        }

        &.h3 {
          padding-left: 1rem;
          padding-top: 1rem;
          display: inline-block;

          &::before {
            content: "ãƒ»";
          }
        }
      }
    }
  }
}
