.mac-window {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include macWindowTheme;

  &.animated {
    transition: all 0.3s;
  }

  &__header {
    flex: 0 0 50px;
    z-index: 10;
    background-color: #3b3c40;
  }

  &__body {
    height: 100%;
  }
}

@media (max-width: $desktop-width) {
  .mac-window {
    position: absolute;
    min-width: 0;
    min-height: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    box-shadow: none;
    border-radius: 0;

    &.animated {
      transition: none;
    }

    &__header {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      z-index: 100;
    }
  }
}
